backend/.env
backend/__pycache__/
backend/*.pyc
backend/venv/
backend/logs/*.json
backend/test_data/*.wav

ios/build/
*.xcworkspace
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.moved-aside
DerivedData/
*.hmap
*.ipa

.DS_Store
*.swp
*.tmp*.pyc
__pycache__/
